
.form-area{
    border: 1px solid lightgray;
    width: 260px;
    height: 240px;
    border-radius: 5px; 
}
.form-header{
   font-size: 20px;
   font-weight: 500;
   color: dimgray;
}
.inputs{
    border: none;
    border-bottom: 1px solid lightskyblue;
    font-size: 10px;
    font-weight: 500;
    padding: 7px;
    height: 30px;
    width: 240px;
}
.submit{
    margin-top: 9px;
    width: 240px;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    color: white;
    background-color: #3076FF;
    border: none;
    border-radius: 5px;
    transition: 1s;
}
 .submit:hover{
    background-color: green;
 }  
 #account{
     font-size: 11px;
     font-weight: 500;
 }
 #login {
     font-size: 11px;
     color: orangered;
     margin-left: 3px;
     text-decoration: none;
     cursor: pointer;
     font-weight: 400;
 }
#or{
  font-weight: 500;
  color: #3076FF;
}
.continue-text{
    font-size: 10px;
    font-weight: 500;
    color: green;

}
.social-icon{
    font-size: 30px;
    margin-right: 8px; 
    cursor: pointer;
}
.google{
    color:#EA4335 ;
}
.facebook{
    color: #3076FF;
}
.back-home{
    width: 240px;
    height: 30px;
    font-size: 10px;
    font-weight: 500;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 6px;
}
.user-name{
    color: orangered;
    text-decoration: underline;
    font-size: 17px;
    font-weight: 500;
}